<div class="container">
  <div class="jumbotron text-center">
      <h1>Welcome to Dev Link</h1>
      <h3>Where developers meet entrepreneurs</h3>
  </div>
  <div class="well">
     <h2>About</h2>
    <p>
      Welcome to Dev Link. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas.
    </p>
  </div>
</div>
