<div class="container">
  <div class="jumbotron text-center">
      <h1>Welcome to Dev Link</h1>
      <h3>Where developers meet entrepreneurs</h3>
  </div>
  <div class="well">
     <h2>About</h2>
    <p>
      
    </p>
  </div>
</div>
