<div class="jumbotron text-center">
    <h1>Welcome to Dev Link</h1>
    <h3>Where developers meet entrepreneurs</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
    <h2 class="text-center">Basic Membership</h2>
      <h4>Sign up for a free account and get basic community access.</h4>
      <br/>
      <%= link_to "Sign up for Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h4>Sign up for a pro account at $10 per month and get access to both the community and contact information.</h4>
      <%= link_to "Sign up for Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>